build
/pytorch/python_code/Data/*
/pytorch/recording_folder
/pytorch/python_code/__pycache__/*
pytorch/__pycache__
pytorch/gmodels
pytorch/python_code/rec_dir/*
/testData
#*~ excludes emacs auto-gen'd backup files
*~
# The below file is now auto generated
argos/collectiveRlTransport.argos
# Exclude CMAKE related things
*CMakeCache.txt
*cmake_install.cmake
argos/Makefile
argos/CMakeFiles
argos/argos/*
# Just to make sure we don't commit build artifacts anymore...
*.bdb
*.bo
*.fasl
*.png